input::-webkit-input-placeholder {
  width: 69px;
  height: 15px;
  color: #001d58;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.banner-image {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.default {
  margin: 0;
  padding: 0;
}

.login-column {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  display: flex;
}

.input {
  width: 467px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #dbdff0;
  background-color: #f8f9fc;
}

.logo-image {
  width: 127px;
  height: 40px;
  background-color: #ffffff;
}
