.timer {
  width: 194px;
  height: 17px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
